<!--
Author: Christian Holtz
File: home.html
Date April 14th 2019

Defines a home page for a dating website. Displays some initial information,
a picture and a button.

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--personal css-->
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>

<!--header containing navbar-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"<!--no link added yet-->>My Dating Website</a>
    </nav>
</header>

<!--primary container for the home page info-->
<div class="container border border-primary rounded p-3 mx-auto">

<div class="row">

    <!--first bootstrap row which contains the wording and button-->
    <div class="col">

        <h1>My Dating Website</h1>

        <p>
            Welcome to best dating website to ever hit the
            internet! Our user's are matched by location and interests,
            and have the highest rate of successful dates of any online
            dating site. Join today and find your next big date!
        </p>

        <!--nested container for quotes with bootstrap modification to margins to create indentation-->
        <div class="container ml-4 mr-4">
            <h4>Don't just take our word for it!</h4>

            <hr>

            <blockquote class="blockquote ">
                <p>"Some of the best dates I have ever been on."</p>
                <footer class="blockquote-footer">John</footer>
            </blockquote>

            <blockquote class="blockquote ">
                <p>"I never thought I would have any reasonable success using a service.
                    I didn't realize how wrong I was! This site is the best!"</p>
                <footer class="blockquote-footer">Mandy</footer>
            </blockquote>

            <blockquote class="blockquote ">
                <p>"You wont regret trying out My Dating Site!"</p>
                <footer class="blockquote-footer ">Emma</footer>
            </blockquote>

            <hr>
        </div>



        <button type="button" class="btn btn-info">Create a Profile!</button>
    </div>







    <!--bootstrap column for image-->
    <div class="col">
        <img src="images/splash.jpg" class="rounded img-fluid" alt="A picture of a couple">
    </div>
</div>



</div>







</body>
</html>